.table {
    width: 100%;
    border: 1px solid #eee;
}

.table thead, tbody, tfoot {
    width: 100%;
}

.table td {
    padding: 5px;
}

.tr--gray {
    background-color: #ededed;
    height: 30px;
}
